<%- include('../partials/alert.ejs') %>

<div id="details" class="container-fluid px-0">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-5 pr-1">
                    <div class="card bg-primary text-white crud_table shadow mb-4">
                        <div class="card-header d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold"><i class="fab fa-opencart"></i> Product Details</h6>
                            <button class="btn btn-outline-light" data-toggle="modal" data-target="#add_category">Edit</button>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="/images/products/<%= details.product[0].main_image %>" alt="main_image">
                                    <h5 class="card-title pt-2"><%= details.product[0].product_title %></h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body pr-0">
                                        <table class="table table-sm table-borderless">
                                            <tbody>
                                            <tr>
                                                <th class="py-0" scope="row">Category</th>
                                                <td class="py-0"><%= details.product[0].category_title %></td>
                                            </tr>
                                            <tr>
                                                <th class="py-0" scope="row">Seller</th>
                                                <td class="py-0"><%= details.product[0].last_name %></td>
                                            </tr>
                                            <tr>
                                                <th class="py-0" scope="row">Keywords</th>
                                                <td class="py-0" colspan="2"><%= details.product[0].keywords %></td>
                                            </tr>
                                            <tr>
                                                <th class="py-0" scope="row">Label</th>
                                                <td class="py-0" colspan="2"><%= details.product[0].label %></td>
                                            </tr>
                                            <tr>
                                                <th class="py-0" scope="row">Base Price</th>
                                                <td class="py-0 font-weight-bolder text-warning" colspan="2">
                                                    <%= parseFloat(details.product[0].base_price).toFixed(2) %>/=
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="py-0" scope="row">Sale Price</th>
                                                <td class="py-0 font-weight-bolder text-warning" colspan="2">
                                                    <%= parseFloat(details.product[0].sale_price).toFixed(2) %>/=
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        Date Created: <%= moment(details.product[0].created_at).format('DD-MM-YYYY') %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h6 class="m-0">Description</h6>
                                    <div class="dropdown-divider"></div>
                                    <p class="m-0"><%= details.product[0].description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 pl-1 pr-0">
                    <div class="card crud_table shadow mb-4">
                        <div class="card-header d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"><i class="fab fa-opencart"></i> Product Variations</h6>
                            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#add_variation">Add Variation</button>
                        </div>
                        <div class="card-body pb-0">
                            <% if(details.variations.length > 0) { %>
                                <table class="table table-sm mb-1">
                                <thead>
                                <tr>
                                    <th scope="col">Variation</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                <% details.variations.forEach((variation) => {
                                    const attribute = Object.keys(JSON.parse(variation.variation))[0];
                                %>
                                    <tr>
                                        <td class="pb-0 pt-1">
                                            <table class="table table-sm">
                                                <thead>
                                                <tr class="row">
                                                    <th class="col-5"><%= attribute %></th>
                                                    <th class="col-6">Extra Cost</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                    <% details.varOptions.forEach(varOpt => {
                                                            let varOptAttribute = Object.keys(JSON.parse(varOpt.variation))[0];
                                                            if(varOptAttribute === attribute) { %>
                                                        <tr class="row">
                                                            <td class="col-5"><%= varOpt.variant %></td>
                                                            <td class="col-6">
                                                                <div class="row">
                                                                    <div class="col"><%= parseFloat(varOpt.extra_price).toFixed(2) %>/-</div>
                                                                    <div class="col">
                                                                        <a href="#" data-id="<%= varOpt.varOptId %>" class="extra_price"
                                                                        data-toggle="modal" data-target="#set_price">set price</a>
                                                                    </div>
                                                                    <div class="col">
                                                                        <a href="#"><i class="fas fa-pen-fancy"></i> Image</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    <% }
                                                    })%>

                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="d-flex">
                                            <a href="#"><h5><i class="fas fa-pen pl-3"></i></h5></a>
                                            <a href="#"><h5><i class="fas fa-trash pl-3"></i></h5></a>
                                        </td>
                                    </tr>
                                <% }) %>

                                </tbody>
                            </table>
                            <% } else { %>
                                    <div class="row my-5 ">
                                        <div class="col">
                                            <h5>This product has no variations.</h5>
                                            <hr class="bg-primary">
                                        </div>
                                    </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="card text-white bg-dark crud_table shadow mb-4">
                        <div class="card-header d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-info"><i class="fab fa-opencart"></i> Product Images</h6>
                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#add_category">Edit</button>
                        </div>
                        <div class="card-body">
                            <div id="details-swiper" class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/images/products/jacket-1.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/products/jacket-2.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/products/jacket-3.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card crud_table shadow mb-4">
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <a href="/products" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            All Products<span class="badge badge-primary badge-pill">14</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Orders<span class="badge badge-primary badge-pill">7</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Quantity Sold<span class="badge badge-primary badge-pill">17</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Remaining stock<span class="badge badge-primary badge-pill">37</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./modals/details_modals') %>